exportPattern("^[[:alpha:]]+")
export(.itastopwords)

import(stringr)
import(twitteR)
import(RCurl)

importFrom(RecordLinkage,levenshteinDist)
importFrom(snowfall,sfInit)
importFrom(SnowballC,wordStem)
importFrom(RWeka,Weka_control)

